* {
    margin: 0;
    padding: 0;
    font-family: 'BlackHanSans-Regular';
}
@font-face {
    font-family: 'BlackHanSans-Regular';
    src: url('./fonts/BlackHanSans-Regular.ttf');
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.battery {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-battery {
    font-size: 50px;
}

.charging-battery {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.charging-battery:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-date {
    font-size: 75px;
    margin-top: 20%;
}

.current-time {
    font-size: 75px;
    margin-top: 15%;
}

.menu-section {
    margin-top: 5%;
    width: 70%;
    height: 30%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.time-input[type='number'] {
    width: 15%;
    height: 80%;
    font-size: 30px;
    text-align: center;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari에서 스피너 숨기기 */
    margin: 0; /* 여백 초기화 */
}

.alarm-btn {
    margin-top: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.alarm-list-aside {
    position: absolute;
    width: 20vw;
    height: 100vh;
    right: 0;
    display: flex;
    border-left: 3px solid black;
    flex-direction: column;
}

.alarm-list-header {
    font-size: 55px;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alarm-list {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto; /* 스크롤 가능하게 */
}

.alarm-list div {
    height: 10%;
    border-bottom: 1px solid black;
    line-height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-alarm-btn {
    background-color: white;
    color: red;
    border: none;
    cursor: pointer;
    margin-left: 25px;
    font-size: 25px;
}
